<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="SellerDTO" type="org.plateer.fittingroombo.seller.dto.SellerDTO"/>
        <typeAlias alias="SellerStatusDTO" type="org.plateer.fittingroombo.store.dto.SellerStatusDTO"/>
        <typeAlias alias="RequestHistoryDTO" type="org.plateer.fittingroombo.common.requestHistory.dto.RequestHistoryDTO"/>
    </typeAliases>
</configuration>
