<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeAliases>
        <typeAlias alias="PlaceDTO" type="org.plateer.fittingroombo.place.dto.PlaceDTO"/>
        <typeAlias alias="PlaceRoomDTO" type="org.plateer.fittingroombo.place.dto.PlaceRoomDTO"/>

        <typeAlias alias="RoomDTO" type="org.plateer.fittingroombo.room.dto.RoomDTO"/>

        <typeAlias alias="SellerDTO" type="org.plateer.fittingroombo.seller.dto.SellerDTO"/>
        <typeAlias alias="SellerRequestDTO" type="org.plateer.fittingroombo.seller.dto.SellerRequestDTO"/>

        <typeAlias alias="RequestHistoryDTO" type="org.plateer.fittingroombo.common.requestHistory.dto.RequestHistoryDTO"/>
    </typeAliases>
</configuration>
