<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroombo.cart.mapper.CartMapper">


    <select id="getReservationItemList" resultType="CartProductListDTO">
        SELECT a.pr_no, a.pr_name, a.pr_price ,b.sp_size, c.cp_no, c.cp_status
        FROM tbl_product a, tbl_sell_product b, tbl_cart_product c
        WHERE a.se_no = #{seNo}
        AND a.pr_no = b.pr_no
        AND b.sp_no = c.sp_no
        AND c.ca_no = #{caNo};
    </select>

</mapper>