<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroombo.product.mapper.ProductMapper">
    <select id="selectFiles" resultType="org.plateer.fittingroombo.product.dto.ProductFileDTO">
        SELECT
            prf_no,
            prf_name,
            prf_uuid,
            prf_type,
            prf_status,
            pr_no
        FROM
            tbl_product_file
        WHERE
                prf_type = #{productFileType}
            AND pr_no = #{prNo}
    </select>

    <!--상품 조회 쿼리-->
    <select id="getProduct"
            resultType="org.plateer.fittingroombo.product.dto.ProductDTO">
        select
            tp.pr_no,
            tp.pr_brand,
            tp.pr_name,
            tp.pr_price,
            tp.pr_create_dt,
            tp.pr_modify_dt,
            tp.pr_status,
            tp.prc_no,
            tp.se_no,
            tpf.prf_uuid as thumbnail,
            tpc.prc_name as category
        FROM
            tbl_product tp
            LEFT JOIN tbl_product_file tpf ON tp.pr_no = tpf.pr_no
            LEFT JOIN tbl_product_category tpc ON tp.prc_no = tpc.prc_no
        WHERE
                tp.pr_status = true
            AND tp.pr_no = #{prNo}
        ORDER BY
            tpf.prf_status desc
        LIMIT 1;
    </select>

    <sql id="search">
        <bind name="pattern" value="'%' + _parameter.productPageSearchRequestDTO.getKeyword() + '%'"/>
        AND
        <foreach item="type" collection="productPageSearchRequestDTO.types" open="(" close=")" separator="OR">
            <!--            NO, CATEGORY, BRAND, BRAND-->
            <if test="type.name() == 'NO'">
                pr_no like #{pattern}
            </if>
            <if test="type.name() == 'CATEGORY'">
                prc_no like #{pattern}
            </if>
            <if test="type.name() == 'BRAND'">
                pr_brand like #{pattern}
            </if>
            <if test="type.name() == 'NAME'">
                pr_name like #{pattern}
            </if>
        </foreach>
    </sql>

    <!--상품 리스트 쿼리-->
    <select id="getProductList"
            resultType="org.plateer.fittingroombo.product.dto.ProductDTO">
        SELECT
            DISTINCT
            tp.pr_no,
            tp.pr_brand,
            tp.pr_name,
            tp.pr_price,
            tp.pr_create_dt,
            tp.pr_modify_dt,
            tp.pr_status,
            tp.prc_no,
            tp.se_no,
            tpc.prc_name as category,
            (
                SELECT
                    tpf.prf_uuid
                FROM
                    tbl_product_file tpf
                WHERE
                    tpf.pr_no = tp.pr_no
                ORDER BY
                    tpf.prf_status DESC
                LIMIT 1
            ) AS thumbnail
        FROM
            tbl_product tp
            LEFT JOIN tbl_product_category tpc ON tp.prc_no = tpc.prc_no
        WHERE
                tp.se_no = #{seNo}
            AND tp.pr_status = 1
            AND tp.pr_create_dt BETWEEN #{productPageSearchRequestDTO.startDt} AND #{productPageSearchRequestDTO.endDt}
        <if test="productPageSearchRequestDTO.keyword != null and productPageSearchRequestDTO.types != null">
            <include refid="search"></include>
        </if>
        ORDER BY
            pr_no DESC
        LIMIT
            #{productPageSearchRequestDTO.skip}, #{productPageSearchRequestDTO.size}
    </select>

    <select id="getProductListCount"
            resultType="int">
        SELECT
            count(*)
        FROM
            tbl_product tp
        WHERE
                tp.se_no = #{seNo}
            AND tp.pr_status = 1
            AND tp.pr_create_dt BETWEEN #{productPageSearchRequestDTO.startDt} AND #{productPageSearchRequestDTO.endDt}
        <if test="productPageSearchRequestDTO.keyword != null and productPageSearchRequestDTO.types != null">
            <include refid="search"></include>
        </if>
    </select>

    <!--상품 추가 쿼리-->
    <insert id="insertProduct">
        <selectKey keyProperty="prNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbl_product(pr_brand, pr_name, pr_price, prc_no, se_no, pr_create_dt, pr_status)
        VALUES (#{prBrand}, #{prName}, #{prPrice}, #{prcNo}, #{seNo}, #{prCreateDt}, #{prStatus})
    </insert>

    <!--상품 삭제 쿼리-->
    <update id="deleteProduct">
        UPDATE
            tbl_product
        SET
            pr_status = false
        WHERE
            pr_no = #{prNo}
    </update>

    <!--상품 업데이트 쿼리-->
    <update id="updateProduct">
        UPDATE
            tbl_product
        <set>
            <if test="true">
                pr_modify_dt = #{prCreateDt},
            </if>
            <if test="prBrand != null">
                pr_brand = #{prBrand},
            </if>
            <if test="prName != null">
                pr_name = #{prName},
            </if>
            <if test="prPrice != null">
                pr_price = #{prPrice},
            </if>
            <if test="prcNo != null">
                prc_no = #{prcNo},
            </if>
        </set>
        WHERE
            pr_no = #{prNo}
    </update>


    <!--파일 추가 쿼리-->
    <insert id="insertProductTopFile">
        <selectKey keyProperty="prNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbl_product_file (prf_name, prf_uuid, prf_type, prf_status, pr_no)
        VALUE (#{prfName}, #{prfUUID}, #{prfType}, #{prfStatus}, #{prNo})
    </insert>

    <insert id="insertProductBottomFile">
        <selectKey keyProperty="prNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbl_product_file (prf_name, prf_uuid, prf_type, prf_status, pr_no)
        VALUE (#{prfName}, #{prfUUID}, #{prfType}, #{prfStatus}, #{prNo})
    </insert>

    <!--파일 삭제 쿼리-->
    <delete id="deleteProductFile">
        DELETE FROM
            tbl_product_file
        WHERE
            pr_no = #{prNo}
    </delete>


    <!--  판매 상품   -->
    <select id="getSellProductList"
            resultType="org.plateer.fittingroombo.product.dto.SellProductDTO">
        SELECT
            *
        FROM
            tbl_sell_product
        WHERE
            pr_no = #{prNo}
    </select>

    <insert id="insertSellProduct">
        <selectKey keyProperty="spNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO tbl_sell_product (sp_size, sp_status, pr_no, sp_create_dt)
        VALUES(#{spSize}, #{spStatus}, #{prNo}, #{spCreateDt})
    </insert>

    <!--  spStatus, spSize, spModifyDt   -->
    <update id="updateSellProduct">
        UPDATE
            tbl_sell_product
        <set>
            <if test="true">
                sp_modify_dt = #{spModifyDt},
            </if>
            <if test="spSize != null">
                sp_size = #{spSize},
            </if>
            <if test="spStatus != null">
                sp_status = #{spStatus},
            </if>
        </set>
        WHERE
            sp_no = #{spNo}
    </update>

    <update id="deleteSellProduct">
        UPDATE
            tbl_sell_product
        SET
            sp_status = 'INACTIVE'
        WHERE
            pr_no = #{id}
    </update>
</mapper>