<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroombo.product.mapper.ProductMapper">
    <select id="getProduct"
            resultType="org.plateer.fittingroombo.product.dto.ProductDTO">
        select
        tp.pr_no,
        tp.pr_brand,
        tp.pr_name,
        tp.pr_price,
        tp.pr_create_dt,
        tp.pr_modify_dt,
        tp.pr_status,
        tp.prc_no,
        tp.s_no,
        tpf.prf_uuid as thumbnail,
        tpc.prc_name as category
        from
        tbl_product tp
        left join tbl_product_file tpf on tp.pr_no = tpf.pr_no
        left join tbl_product_category tpc on tp.prc_no = tpc.prc_no
        where tp.pr_status = true
        and tp.pr_no = #{prNo}
        order by tpf.prf_status desc
        limit 1;
    </select>

    <sql id="search">
        <bind name="pattern" value="'%' + _parameter.productPageSearchRequestDTO.getKeyword() + '%'"/>
        and
        <foreach item="type" collection="productPageSearchRequestDTO.types" open="(" close=")" separator="OR">
            <!--            NO, CATEGORY, BRAND, BRAND-->
            <if test="type.name() == 'NO'">
                pr_no like #{pattern}
            </if>
            <if test="type.name() == 'CATEGORY'">
                prc_no like #{pattern}
            </if>
            <if test="type.name() == 'BRAND'">
                pr_brand like #{pattern}
            </if>
            <if test="type.name() == 'NAME'">
                pr_name like #{pattern}
            </if>
        </foreach>
    </sql>

    <select id="getProductList"
            resultType="org.plateer.fittingroombo.product.dto.ProductDTO">
        select *
        from tbl_product
        where pr_status = true
        <if test="productPageSearchRequestDTO.keyword != null and productPageSearchRequestDTO.types != null">
            <include refid="search"></include>
        </if>
        order by pr_no desc limit #{productPageSearchRequestDTO.skip}, #{productPageSearchRequestDTO.size}
    </select>

    <select id="getCount"
            resultType="int">
        select *
        from tbl_product
        where pr_status = true
        <if test="productPageSearchRequestDTO.keyword != null and productPageSearchRequestDTO.types != null">
            <include refid="search"></include>
        </if>
    </select>

    <insert id="insertProduct"
            useGeneratedKeys="true" keyProperty="prNo">
        insert into tbl_product (pr_brand, pr_name, pr_price, prc_no, s_no, pr_create_dt, pr_status)
        values(#{prBrand}, #{prName}, #{prPrice}, #{prcNo}, #{sNo}, #{prCreateDt}, #{prStatus})
    </insert>

    <update id="updateProduct">
        update tbl_product
        <set>
            <if test="true">
                pr_modify_dt = #{prModifyDt},
            </if>
            <if test="prBrand != null">
                pr_brand = #{prBrand},
            </if>
            <if test="prName != null">
                pr_name = #{prName},
            </if>
            <if test="prPrice != null">
                pr_price = #{prPrice},
            </if>
            <if test="prcNo != null">
                prc_no = #{prcNo},
            </if>
            <if test="prStatus != null">
                pr_status = #{prStatus},
            </if>
        </set>
        where pr_no = #{prNo}
    </update>

    <update id="deleteProduct">
        UPDATE
        tbl_product
        SET
        pr_status = false
        WHERE
        pr_no = #{id}
    </update>

</mapper>