<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroombo.common.requestHistory.mapper.RequestHistoryMapper">

    <insert id="insertRequestHistorySeller" keyProperty="rhNo" useGeneratedKeys="true">
        <selectKey keyProperty="rhNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_request_history (rh_status, rh_content, rh_reason, rh_start_dt, rh_create_dt,pm_no,se_no)
        values(#{rhStatus},#{rhContent},#{rhReason},#{rhStartDt},#{rhCreateDt},#{pmNo},#{seNo})
    </insert>

    <update id="updateRequestHistorySeller" >
        update tbl_request_history
        <set>
            rh_content = #{rhContent},
            rh_reason = #{rhReason},
            rh_start_dt = #{rhStartDt}
        </set>
        where rh_no = #{rhNo}

    </update>
    
    <select id="getRequestHistoryDetailSeller" resultType="RequestHistoryDTO">
        select rh_content, rh_reason, rh_start_dt
        from tbl_request_history
        where rh_no = #{rhNo}
    </select>
</mapper>