<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.plateer.fittingroombo.common.requestHistory.mapper.RequestHistoryMapper">
<!--  

    <select id="getCount" resultType="int">
        select count(*)
        from tbl_request_history
        where
        se_no = #{ id }
    </select>

    <select id="getStoreRequestHistoryList" resultType="RequestHistoryDTO">
        select
        *
        from
        tbl_request_history
        where
        se_no = #{ id }
        order by
        rh_no desc
        limit #{skip}, #{size}
    </select>

    <insert id="insertRequestHistorySeller" keyProperty="rhNo" useGeneratedKeys="true">
        <selectKey keyProperty="rhNo" resultType="long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into tbl_request_history (rh_status, rh_content, rh_reason, rh_start_dt, rh_create_dt,pm_no,se_no)
        values(#{rhStatus},#{rhContent},#{rhReason},#{rhStartDt},#{rhCreateDt},#{pmNo},#{seNo})
    </insert>

    <update id="updateRequestHistorySeller">
        update tbl_request_history
        <set>
            rh_content = #{rhContent},
            rh_reason = #{rhReason},
            rh_start_dt = #{rhStartDt}
        </set>
        where rh_no = #{rhNo}

    </update>

    <select id="getRequestHistoryDetailSeller" resultType="RequestHistoryDTO">
        select rh_content, rh_reason, rh_start_dt
        from tbl_request_history
        where rh_no = #{rhNo}
        
          -->
    <select id="getCount" resultType="int">
        select
            count(*)
        from
            tbl_request_history
        where
                pm_no = #{ id }
            and se_no is null
    </select>

    <select id="getRoomSellerCount" resultType="int">
        select
            count(*)
        from
            tbl_request_history
        where
                pm_no = #{ id }
            and se_no is not null
    </select>

    <select id="getSellerRequestCount" resultType="int">
        select
            count(*)
        from
            tbl_request_history A
            LEFT JOIN tbl_seller B on A.se_no = B.se_no
        where
                A.pm_no = #{ id }
            and A.se_no is not null
            and A.rh_status = '대기'
    </select>

    <select id="getRoomRequestHistoryList" resultType="RequestHistoryDTO">
        select
            *
        from
            tbl_request_history
        where
                pm_no = #{ id }
            and se_no is null
        order by
            pm_no desc
        limit #{skip}, #{size}
    </select>

    <insert id="insertRequestHistoryPlace">
        insert into tbl_request_history (rh_status, rh_content, rh_reason, rh_start_dt, rh_create_dt, pm_no)
        values(#{rhStatus}, #{rhContent}, #{rhReason}, #{rhStartDt}, #{rhCreateDt}, #{pmNo})

        <selectKey keyProperty="rhNo" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateRequestHistoryPlace">
        update
            tbl_request_history
        set
            rh_content = #{rhContent},
            rh_reason = #{rhReason},
            rh_start_dt = #{rhStartDt}
        where
            rh_no = #{rhNo}
    </update>

    <insert id="insertRequestHistorySeller">
        insert into tbl_request_history (rh_status, rh_content, rh_reason, rh_start_dt, rh_create_dt,pm_no,se_no)
        values(#{rhStatus},#{rhContent},#{rhReason},#{rhStartDt},now(),#{pmNo},#{seNo})

        <selectKey keyProperty="rhNo" resultType="Long" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <update id="updateRequestHistorySeller">
        update
            tbl_request_history
        set
            rh_content = #{rhContent},
            rh_reason = #{rhReason},
            rh_start_dt = #{rhStartDt}
        where
            rh_no = #{rhNo}
    </update>

    <select id="getRoomSellerRequestHistoryList" resultType="SellerRequestDTO">
        select
            *
        from
            tbl_request_history A
            LEFT JOIN tbl_seller B on A.se_no = B.se_no
        where
                A.pm_no = #{ id }
            and A.se_no is not null
            and A.rh_status = '대기'
            and B.se_status = '대기'
        order by
            A.rh_create_dt desc
        limit
            #{skip}, #{size}
    </select>

    <select id="getRoomSellerRequestHistoryAllList" resultType="RequestHistoryDTO">
        select
            *
        from
            tbl_request_history
        where
                pm_no = #{ id }
            and se_no is not null
        order by
            rh_create_dt desc
        limit
            #{skip}, #{size}
    </select>
</mapper>